// Main Style

// General
@import "variables";
@import "vendor/bootstrap-includes";
@import "helpers/all";
@import "global";
@import "components/all";
@import "pages/all";


#fh5co-header {
    padding: 3em 3em;
    float: left;
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-header {
      padding-bottom: 5em !important;
    }
  }
  #fh5co-header .fh5co-nav-toggle {
    position: absolute;
    top: 4.2em;
    left: 3em;
    z-index: 99;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header .fh5co-nav-toggle {
      top: 4em;
      left: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .fh5co-nav-toggle {
      top: 2.5em;
      left: 15px;
    }
  }
  #fh5co-header .fh5co-social {
    position: absolute !important;
    right: 3em !important;
    top: 3.2em;
    z-index: 99;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header .fh5co-social {
      right: 15px !important;
      top: 3.2em;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .fh5co-social {
      right: 15px !important;
      top: 1.5em;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-header .fh5co-social {
      right: inherit !important;
      left: inherit !important;
      top: 5em;
      left: 50% !important;
      margin-left: -50px;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  #fh5co-header #fh5co-logo {
    text-align: center;
  }
  #fh5co-header #fh5co-logo a {
    color: #000;
  }
  #fh5co-header #fh5co-logo a sup {
    font-size: 20px;
    top: -20px;
  }


  